body{
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
  margin: 0;
  padding: 200px 20px 20px;
}

.fortune-content{
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
}

#fortune-box{
  margin: 50px auto;
  padding: 20px;
  width: 60%;
  border: 2px solid #333;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#fortune-text{
  font-size: 1.5em;
  color: #333;
}

.button-container{
  margin-top: 20px;
}

button{
  margin: 5px;
  padding: 8px 10px;
  font-size: 1em;
  cursor: pointer;
  border: 2px solid;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: white;
  transition: background-color 0.3s, border-color 0.3s, transform 0.2s;
}

#green-button{
  background-color: green;
  border-color: darkgreen;
}

#red-button{
  background-color: red;
  border-color: darkred;
}

#blue-button{
  background-color: blue;
  border-color: darkblue;
}

#yellow-button{
  background-color: yellow;
  border-color: goldenrod;
  color: black;
}

#green-button:hover{
  background-color: darkgreen;
  border-color: green;
  transform: scale(1.05);
}

#red-button:hover{
  background-color: darkred;
  border-color: red;
  transform: scale(1.05);
}

#blue-button:hover{
  background-color: darkblue;
  border-color: blue;
  transform: scale(1.05);
}

#yellow-button:hover{
  background-color: goldenrod;
  border-color: yellow;
  transform: scale(1.05);
}
