body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    padding-top: 200px;
    margin: 0;
  }
  
  .stopwatch-container {
    margin: 50px auto;
    padding: 20px;
    width: 300px;
    background-color: #fff;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  #stopwatch {
    font-size: 3em;
    margin: 20px 0;
    color: #333;
    border: 2px solid #0158b4;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #0158b4;
    color: white;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #043d7a;
  }