body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 200px 20px;
}

#todo-container{
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#task-input{
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#add-task{
    width: 100%;
    padding: 10px;
    background-color: rgb(18, 133, 172);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task:hover{
    background-color: rgb(63, 178, 216);
}

#task-list{
    list-style-type: georgian;
    padding: 5px;
}

.task-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.task-item span{
    font-size: 18px;
    color: darkslategray;
}

.task-item:last-child{
    border-bottom: none;
}

.delete-btn{
    background-color: #d65555;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-btn:hover{
    background-color: #cc0000;
}